.box-testimonials {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  & > div {
    width: 400px;
    display: flex;
    overflow: auto;
  }
  h4 {
    font-size: 2em;
  }
  .box-users {
    width: 400px;
    margin: 0 10px;
    p {
      width: 390px ;
      color: var(--text-grey-2);
    }
    span,
    svg {
      color: var(--color-primary);
      margin-top: 5px;
    }
    svg {
      margin-right: 10px;
    }
    h3 {
      margin: 0;
    }
    h4 {
      font-size: 1em;
    }
  }
}

@media (max-width: 1000px) {
  .box-testimonials {
    & > div {
      width: 300px;
      .box-users {
        p {
          width: 290px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .box-testimonials {
    & > div {
      width: 90vw;
      .box-users {
        p {
          min-width: 290px;
        }
      }
    }
  }
}
